*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px 1fr 1fr 220px 60px;
    grid-template-areas: "header"
                         "mensajePrincipal"
                         "proyectos"
                         "habilidades"
                         "contacto"
                         "footer";
    font-family: 'Roboto', sans-serif;
}

.header{
    grid-area: header;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: #3f4c6b;
    color: white;
    border-top: 1px solid white;
}

.header_title{
    text-transform: uppercase;
    margin-left: 20px;
}

.header_menu ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-right: 20px;
}

.header_menu ul li{
    margin: 10px 35px;
    font-size: 25px;
    letter-spacing: 4px;
}

.header_menu ul li:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.header_menu ul li a{
    text-decoration: none;
    color: white;
}

.mensajePrincipal{
    grid-area: mensajePrincipal;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 30px;
    background-color: #606c88;
    border-bottom: 1px solid black;
}

.mensajePrincipal strong{
    color: black;
}

.mensajePrincipal h1{
    margin: 40px 20px 0px 40px;
    padding-bottom: 20px;
}

.mensajePrincipal_imagen {
    justify-self: flex-end;
}

.mensajePrincipal_imagen img{
    width: 600px;
    height: 299px;
}

.proyectos{
    grid-area: proyectos;
}

.habilidades{
    grid-area: habilidades;
    padding: 5px;
    padding-top: 40px;
    background-color: #96A9D4;
    display: grid;
    grid-template-rows: repeat(8, 45px);
    grid-template-areas: "bloque1"
                         "bloque2"
                         "bloque3"
                         "bloque4"
                         "bloque5"
                         "bloque6"
                         "bloque7"
                         "bloque8";
    gap: 10px;
    justify-items: center;
}

.bloque1,
.bloque3,
.bloque5,
.bloque7{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.bloque2,
.bloque4,
.bloque6,
.bloque8{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.habilidades section div{
    width: fit-content;
    height: fit-content;
    background-color: #38ada9;
    padding: 8px;
    border: 1px solid #38ada9;
    border-radius: 5px;
    color: white;
}

.contacto{
    grid-area: contacto;
    padding: 40px 80px 40px 80px;
    background-color: #38ada9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contacto_formulario{
    display: flex;
    flex-direction: column;
}

.contacto_formulario label{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font: bold;
    letter-spacing: 2px;
}

.contacto_formulario img{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 52px 0px 0px 10px;
}

.contacto_formulario input{
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    text-indent: 45px;
}


.contacto_formulario button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    text-align: center;
    border-style: none;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.contacto_formulario button:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
}

.contacto_imagenes img{
    width: 60px;
    height: 60px;
    padding: 30px 30px 0px 30px;
}

.contacto_imagenes img:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.footer{
    grid-area: footer;
    background-color: #3f4c6b;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

.footer_mensaje{
    margin-left: 20px;
}

.footer_diseño{
    margin-right: 20px;
}