*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px 1fr 1fr 200px 60px;
    grid-template-areas: "header"
                         "mensaje"
                         "proyectos"
                         "habilidades"
                         "contacto"
                         "footer";
    font-family: 'Roboto', sans-serif;
}

.header{
    grid-area: header;
    width: 100%;
    background-color: #3f4c6b;
    color: white;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
}

.header_logo{
    grid-area: logo;
}

.header_logo-tittle{
    text-transform: uppercase;
    margin-left: 20px;
}

.header_menu{
    grid-area: menu;
    justify-self: center;
    align-self: end;
}

.header_menu-items ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header_menu-items ul li{
    margin: 10px 35px;
    font-size: 25px;
    letter-spacing: 4px;
}

.header_menu-items ul li:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.header_menu-items ul li a{
    text-decoration: none;
    color: white;
}

.mensaje {
    grid-area: mensaje;
    color: white;
    font-size: 30px;
    background-color: #606c88;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "presentacion imagen";
}

.mensaje_presentacion{
    grid-area: presentacion;
}

.mensaje_presentacion h1{
    margin: 40px 20px 0px 40px;
    padding-bottom: 20px;
}

.mensaje_presentacion strong{
    color: black;
}

.mensaje_imagen{
    grid-area: imagen;
    justify-self: end;
    height: inherit;
}

.mensaje_imagen img{
    width: 600px;
    height: 299px;
}

.proyectos{
    grid-area: proyectos;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "proyectos1 proyectos2";
    justify-items: center;
}

.proyectos_columna1{
    grid-area: proyectos1;
}

.proyectos_columna2{
    grid-area: proyectos2;
}

.habilidades{
    grid-area: habilidades;
    color: white;
    background-color: #96A9D4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-items: center;
    padding: 10px;
    gap: 5px;
}

.habilidades_title{
    grid-column-start: 1;
    grid-column-end: 5;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 40px;
    
}

.habilidades div{
    background-color: #38ada9;
    align-self: center;
    padding: 8px;
    border-radius: 4px;

}

.contacto{
    grid-area: contacto;
    padding: 40px 80px;
    background-color: #38ada9;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "formulario enlaces";
    
}

.contacto_formulario{
    grid-area: formulario;
    justify-self: start;
    align-self: center;
}

.contacto_formulario-form{
    display: inline-grid;
}

.contacto_formulario-form label{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font: bold;
    letter-spacing: 2px;
}

.contacto_formulario-form img{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 52px 0px 0px 10px;
}

.contacto_formulario-form input{
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    text-indent: 45px;
}

.contacto_formulario-form button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    text-align: center;
    border-style: none;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.contacto_formulario-form button:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
}

.contacto_enlaces{
    grid-area: enlaces;
    justify-self: end;
    align-self: center;
}

.contacto_enlaces img{
    width: 60px;
    height: 60px;
    padding: 0 30px;
}

.contacto_enlaces img:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.footer{
    grid-area: footer;
    background-color: #3f4c6b;
    color: white;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_mensaje{
    margin-left: 20px;
}

.footer_by{
    margin-right: 20px;
}