*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 300px 1fr 420px 200px 60px;
    grid-template-areas: "header"
                         "mensaje"
                         "proyectos"
                         "habilidades"
                         "contacto"
                         "footer";
    font-family: 'Roboto', sans-serif;
}

.header{
    grid-area: header;
    width: 100%;
    background-color: #2A3133;
    color: #fff;
    border-top: 1px solid white;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    grid-template-areas: "logo menu";
}

.header_logo{
    grid-area: logo;
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-left: 3%;
}

.header_logo-image img{
    width: 45px;
}

.header_logo-title{
    margin-left: 4%;
    letter-spacing: 2px;
}

.header_menu{
    grid-area: menu;
    align-self: center;
}

.header_menu-items ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.header_menu-items ul li{
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 700;
}

.header_menu-items ul li:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.header_menu-items ul li a{
    text-decoration: none;
    color: white;
}

.mensaje{
    grid-area: mensaje;
    color: white;
    background-color: #2d3436;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "presentacion imagen";
}

.mensaje_presentacion{
    grid-area: presentacion;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    text-align: center;
    align-self: center;
    font-size: 25px;
    transition: 1s;
}

.mensaje_presentacion:hover{
    transition: 1s;
    transform: scale(1.5);
}

.mensaje_presentacion strong{
    color: #0984e3;
}

.mensaje_imagen{
    grid-area: imagen;
    justify-self: end;
    height: inherit;
}

.mensaje_imagen img{
    width: 100%;
    height: 299px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.proyectos{
    grid-area: proyectos;
    background-color: #f0f3f5;
    display: grid;
    grid-template-columns: 1fr;
}

.proyectos_title{
    margin: 30px 30px 30px 60px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 32px;
    color: #0984e3;
}

.proyectos_tarjetas{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px;
    gap: 0 10px;
    justify-items: center;
    margin: 0 30px 30px 30px;
    padding: 20px;
    box-shadow: 2px 2px 10px 1px grey;
    border-radius: 5px;
    background-color: white;
}

.proyectos_tarjetas img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}

.proyectos_texto-titulo{
    font-size: 28px;
    padding-bottom: 5px;
}

.proyectos_texto-tecnologias,
.proyectos_texto-fecha,
.proyectos_texto-url{
    font-size: 18px;
    padding-bottom: 5px;
}

.proyectos_texto-tecnologias,
.proyectos_texto-fecha,
.proyectos_texto-url a{
    font-style: oblique;
    color: #636e72;
    font-weight: 500;
}

.proyectos_texto-url a{
    text-decoration: none;
    transition: .5s;
}

.proyectos_texto-url a:hover{
    transition: 0.3s;
    color: #0984e3;
}

.proyectos_texto strong{
    color: black;
}

.proyectos_texto-descripcion{
    padding-top: 10px;
    width: 95%;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 140%;
}

.habilidades{
    grid-area: habilidades;
    color: white;
    background-color: #f0f3f5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px repeat(6, 50px);
    justify-items: center;
    padding: 10px;
    gap: 5px;
}

.habilidades_title{
    justify-self: start;
    margin-left: 60px;
    color: #0984e3;
    font-size: 32px;
    grid-column-start: 1;
    grid-column-end: 5;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.habilidades div{
    height: max-content;
    background-color: #0984e3;
    padding: 8px;
    border-radius: 4px;;
}

.habilidades p {
    text-align: center;
}

.contacto{
    grid-area: contacto;
    background-color: #0984e3;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: "formulario enlaces";
    justify-items: center;
}

.contacto_formulario{
    grid-area: formulario;
    align-self: center;
}

.contacto_formulario-form{
    display: inline-grid;
}

.contacto_formulario-form label{
    color: white;
    font-size: 30px;
    padding-bottom: 10px;
    font: bold;
    letter-spacing: 2px;
}

.contacto_formulario-form img{
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 52px 0px 0px 10px;
}

.contacto_formulario-form input{
    height: 40px;
    width: 380px;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    text-indent: 45px;
    outline-style: none;
}

.contacto_formulario-form button{
    height: 30px;
    width: 180px;
    margin-top: 10px;
    text-align: center;
    border-style: none;
    background: transparent;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
}

.contacto_formulario-form button:hover{
    transition: 0.3s;
    color: black;
    background-color: white;
}

.contacto_enlaces{
    grid-area: enlaces;
    align-self: center;
}

.contacto_enlaces img{
    width: 60px;
    height: 60px;
    padding: 0 30px;
    transition: 0.2s;
}

.contacto_enlaces img:hover{
    transition: 0.3s;
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.footer{
    grid-area: footer;
    background-color: #2A3133;
    color: white;
    letter-spacing: 2px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer_mensaje{
    margin-left: 20px;
}

.footer_by{
    margin-right: 20px;
}